<!DOCTYPE html>
<html lang="en">
	<% const a = '123 MEAN study @@' %>
    <head>
        <title>Learn EJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <h1><%= a + 1 %></h1>
      <h1><%= username %></h1>
      <% const isAdmin = false %>

      <% if (!isAdmin){ %>
      <a href="#">Quan ly</a>
      <% }else{ %>
       <a href="#">Quay ve</a> 
      <% } %>

      <% const arrMonHoc = ['PHP1', 'JS1', 'Angular', 'Android'] %>

      <% arrMonHoc.forEach(MH=>{ %>
      	<h3><%- MH %></h3>
      <% }); %>

       <% arrPeople.forEach(person => { %>
       	<h2><%- "Ten: "+ person.name + ". Tuoi: " + person.age %></h2>
       <% }); %>

      <script src="reload/reload.js"></script>
    </body>
</html>